.DeleteTodoButton {
  background-color: #fa6175;
  box-shadow: 0px 5px 25px rgba(250, 97, 161, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-weight: bold;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;

  z-index: 1;
  transform: rotate(0);
  transition: .3s ease;
}

.DeleteTodoButton:hover {
  transform: rotate(180deg);
}