.IconTrash {
    fill: #FF6978;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    font-size: 24px;
    font-weight: bold;
  
}